{% extends "layout.html" %}
<link href="/favicon.ico">
<link rel="icon" type="image/x-icon"  href="/favicon.ico">
{% block title %}
<link href="/favicon.ico">
<link rel="icon" type="image/x-icon"  href="/favicon.ico">
    Homepage
{% endblock %}

{% block main %}
<link href="/favicon.ico">
<link rel="icon" type="image/x-icon"  href="/favicon.ico">
<form action="/index" method="get">
    <p style="color: #ffffff;">Welcome to the greatest Premier league statistics page in the world, please select 
    the stats that you want to see from the Navigation bar</p>
</form>
{% endblock %}